.App {
  border-radius: 4px;
  box-shadow: 0 2px 4px #ccc;
  color: #333;
  font-size: 18px;
  margin: 1em auto;
  padding: 0 0 20px;
  width: 100%;
  max-width: 500px;
}

.App-header {
  background-color: navy;
  border-bottom: 3px dashed crimson;
  border-radius: 4px 4px 0 0;
  color: white;
  text-align: center;
}

.App-header h2 {
  display: inline-block;
  margin: 20px auto;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.text-blue { color: blue; }
.text-red { color: red; }