table#results-table {
	border-collapse: collapse;
	margin: auto;
	width: 100%;
}

table#results-table.no-results td {
	color: #ccc;
	text-align: center;
}

table#results-table.no-results.searched td {
	color: #333;
}

table#results-table th {
	background: #eee;
	padding: .25em .5em;
	text-align: center;
}

table#results-table td {
	padding: 1em .5em;
}

/* Buttons/Icons */
	table#results-table td .btn {
		border-radius: 4px;
		display: inline-block;
		font-size: 24px;
		line-height: 1em;
		margin: auto .125em;
		padding: .125em 0;
		width: 1.75em;
	}

	table#results-table td .btn.fb {
		background-color: #3b5998;
		color: #fff;
	}

	table#results-table td .btn.tw {
		background-color: #1da1f2;
		color: #fff;
	}

	table#results-table td .btn.email {
		background-color: #333;
		color: #fff;
	}

	table#results-table td .btn.site {
		background-color: #29e588;
		color: #5bf888;
	}

	table#results-table td .result-icon {
		display: inline-block;
		max-width: 1.5em;
		vertical-align: middle;
	}

	/* Button/Icon states */
	table#results-table td .btn:active {
		opacity: .9;
	}